In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as pl
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install sklearn

Requirement already satisfied: sklearn in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from sklearn) (0.22.1)
Requirement already satisfied: scipy>=0.17.0 in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.18.1)
Requirement already satisfied: joblib>=0.11 in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from scikit-learn->sklearn) (0.15.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
data = pd.read_csv('/Users/vaishnaviiparamashivam/Downloads/insurance.csv')

In [4]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix
import pickle
from sklearn import preprocessing

In [6]:
le = preprocessing.LabelEncoder()

In [7]:
le.fit(data["sex"])

LabelEncoder()

In [8]:
list(le.classes_)

['female', 'male']

In [9]:
data["Sex"] = le.transform(data["sex"])

In [10]:
le.fit(data["smoker"])

LabelEncoder()

In [11]:
data["Smoker"] = le.transform(data["smoker"])

In [12]:
le.fit(data["region"])

LabelEncoder()

In [13]:
data["Region"] = le.transform(data["region"])

In [14]:
df_main = data

In [15]:
#drop_list = ("sex", "smoker", "region")
df_main.drop("region", inplace=True, axis=1)

In [16]:
df_main

      age     sex     bmi  children smoker      charges  Sex  Smoker  Region
0      19  female  27.900         0    yes  16884.92400    0       1       3
1      18    male  33.770         1     no   1725.55230    1       0       2
2      28    male  33.000         3     no   4449.46200    1       0       2
3      33    male  22.705         0     no  21984.47061    1       0       1
4      32    male  28.880         0     no   3866.85520    1       0       1
...   ...     ...     ...       ...    ...          ...  ...     ...     ...
1333   50    male  30.970         3     no  10600.54830    1       0       1
1334   18  female  31.920         0     no   2205.98080    0       0       0
1335   18  female  36.850         0     no   1629.83350    0       0       2
1336   21  female  25.800         0     no   2007.94500    0       0       3
1337   61  female  29.070         0    yes  29141.36030    0       1       1

[1338 rows x 9 columns]

In [17]:
import statsmodels.api as sm

In [18]:
pip install statsmodels

Requirement already satisfied: statsmodels in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (0.11.1)
Requirement already satisfied: patsy>=0.5 in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: pandas>=0.21 in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from statsmodels) (1.0.3)
Requirement already satisfied: scipy>=1.0 in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from statsmodels) (1.4.1)
Requirement already satisfied: numpy>=1.14 in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from statsmodels) (1.18.1)
Requirement already satisfied: six in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from patsy>=0.5->statsmodels) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from pandas>=0.21->statsmodels) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/vaishnaviiparamashivam/opt/anaconda2/lib/python3.7/site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Note: you may need to restart the kernel to use updated packages.

In [19]:
y = df_main["charges"]
x = df_main[["age", "bmi", "children", "Sex", "Smoker", "Region"]]

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [21]:
from sklearn import linear_model
linreg = linear_model.LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
predictions = linreg.predict(X_test)

In [23]:
linreg.score(X_train,y_train)

0.7306840408360218

In [24]:
linreg.score(X_test,y_test)

0.7911113876316933

In [25]:
with open('trained_costs_model.pkl', 'wb') as f:
    pickle.dump(linreg, f)

In [28]:
with open('trained_model.pkl', 'rb') as f:
    clf_loaded = pickle.load(f)

In [29]:
model = pickle.load(open('trained_model.pkl','rb'))
print(model.predict([[55, 18, 0, 1, 1, 1]]))

[31281.02064605]